@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
}
body{
    display:flex;
    justify-content:center;
    padding:20vh;
    background-color:#58A438;
}
.boton{
    border: 0px;
    background-color: lightgray;
    margin: 1px;
    padding: auto;
}

.Largo{
    grid-column: span 2;
}

#barra{
    grid-column: 2;
}
.Alto{
    grid-row: span 4;
    grid-column: 4;

}
.botones{
    display: grid;
    justify-content: center;
    grid-template-rows:repeat(6,1.5em);
    grid-template-columns:repeat(4,2em);
}

.Calculadora{
    background-color: #575757;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 15px 15px 0px #424242;
}
.Calculadora::after{
    content: '';
    background-color: #424242;
    position: absolute;
    width: 25px;
    height: 8px;
    transform:rotate(45deg);
    margin-top:-2px;
    z-index: -1;
}
.Calculadora::before{
    content: '';
    background-color: #424242;
    position: absolute;
    width: 22px;
    height: 8px;
    transform:rotate(45deg);
    margin-left: 11.3%;
    margin-top: calc(.5vh + .38em);
    z-index: -1;
}
.Superior{
    margin: 1vh 2vw 1vh 2vw;
}

.pantalla{
    background-color: lightgray;
    height: calc(.8em + 2vh);
    text-align:center;
    padding-top: 1vh;
}